<div class="tabs" style="margin: 30px auto auto auto;width: 98%;border: 15px solid #888888;padding: 10px;border-bottom: none;">
    <!--<button class="tablinks" id="home" style="left:0;display: inline-block">HOME</button>-->
    <button class="tablinks" id="info" style="left:0;display: inline-block">INFO</button>
  <div class="intabs" style="margin: auto;width: 57%;">
  <button class="tablinks" id="rails/rails">rails</button>
  <button class="tablinks" id="openssl/openssl">openssl</button>
  <button class="tablinks" id="box/bart">bart</button>
  <button class="tablinks" id="zhou0/mysocks">mysocks</button>
  <button class="tablinks" id="thephpleague/commonmark">commonmark</button>
  <button class="tablinks" id="alexander-perucci/spring-grow">spring-grow</button>
  <button class="tablinks" id="alibaba/sentinel-cpp">sentinel-cpp</button>
  <button class="tablinks" id="esl/mongooseim">MongooseIM</button>
  <button class="tablinks" id="serverfrog/frogpw">FrogPW</button>
  </div>
</div>
