<div class="tabs" style="margin: 30px auto auto auto;width: 98%;border: 15px solid #888888;padding: 10px;border-bottom: none;">
    <button class="tablinks" id="home" style="left:0;display: inline-block">HOME</button>
    <button class="tablinks" id="info" style="left:0;display: inline-block">INFO</button>
  <div class="intabs" style="margin: auto;width: 57%;">
  <button class="tablinks" id="rails/rails">rails</button>
  <button class="tablinks" id="twitter/twemoji">twemoji</button>
  <button class="tablinks" id="openssl/openssl">openssl</button>
  <button class="tablinks" id="bdrister/aquaticprime">aquaticprime</button>
  <button class="tablinks" id="box/bart">bart</button>
  <button class="tablinks" id="libressl-portable/openbsd">openbsd</button>
  <button class="tablinks" id="libressl-portable/portable">portable</button>
  <button class="tablinks" id="nanochess/invaders">invaders</button>
  <button class="tablinks" id="thephpleague/commonmark">commonmark</button>
  <button class="tablinks" id="github/semantic">semantic</button>
  </div>
</div>
