<h2 class="col" style="margin-bottom:20px">CII Best Practices</h2>
<button id="ciiBtn" style="border:2px solid #686868; width:40%">Retrieve CII information</button>
<div id="overcii" style="width:100%;display:none;">
    <img class="col" width="40%" height="200px"
    src="https://i.ibb.co/n8f7NjX/CIITPARENT.png"
    href="https://bestpractices.coreinfrastructure.org/en"
    style="width:419px;height:146px;margin-left: auto;margin-right: auto;">
    <div id = "recloadContainer">
    <div id="CIIbp" style="margin-top:20px;" class="col-6">
        <div size="total">
        <img id="CIIbadge" style="margin-left:80px;text-align:center;transform: scale(2)">
        <div id="CIIbp" style="margin-top:20px;" class="col-6">
        <div size="total">
        <img id="CIIbadge" style="height:50px">
        <br>
        <h4 id="CII"></h4>
        </div>
    </div></div></div>
    <!--<div id="CIIbp" class="col-6">
        <div size="total">
        <img id="CIIbadge2">
        <p id="CII2"></p>
        </div>
    </div>-->
</div></div>
