<body style="height: 100%">
  {% include 'html/buttons.html' %}
  <div id="outerbox">
    <h1>Information</h1><body style="height: 100%;">
    <h5><br>
    Thank you for your interest in this study. <br><br>
    Several projects have been assembled for this dashboard<br>
    for the purpose of this study.<br><br>
    In the repository screens, you may find two main types of content:<br>
    CII Best Practices data, and DoSOCSv2 license information<br><br>
    CII Best Practices can determine how well a company is following standard practices for good development and code.<br><br>
    DoSOCSv2 license scans provide license-related data that can be used to explore the project's<br>
    license compliance, as well as many other uses.<br><br>
    Both of these are available for you to explore as much as you would like.<br>
    Please refer to the study coordinator when you are finished with the dashboard.
    </h5>
    <div id="sitdown">
      <h2>Please click any of the above buttons when you would like to begin.
      <h3>You are allowed as much time as you would like to view the dashboard.</h3>
    </div>
      <link rel="stylesheet" type="text/css" href="static/css/app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--<script type="text/javascript" src="/static/js/RiskCard.js"></script>-->
    <script type="text/javascript" src="/static/js/Tabbing.js"></script>
  </div>
<body>
