<body style="height: 100%">
  <div id="parent" style="background: #eaeaea">
  {% include 'html/buttons.html' %}
  <div id="outerbox">
    <h1 id="name" style="text-align:center;"></h1>
      <link rel="stylesheet" type="text/css" href="static/css/app.css">
    {% include 'html/cii.html' %}
    {% include 'html/dosocs.html' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/RiskCard.js"></script>
    <script type="text/javascript" src="/static/js/Tabbing.js"></script>
  </div>
<body>
